body {
  
}

.navbar-green {
    background-color: #395D33;
}

.navbar-green .navbar-brand{
    color: #fff;
    /*text-shadow: 1px 1px 1px #000;*/
}

.navbar-green .navbar-nav .nav-link {
   color: #ccc;
   /*text-shadow: 1px 1px 1px #000;*/
}

.navbar-green .nav-item.active .nav-link,
.navbar-green .nav-item:hover .nav-link {
    color: #fff;
    /*text-shadow: 1px 1px 1px #000;*/
}

.headerWrapper {
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerWrapper2 {
  background-color: rgba(0,0,0,0.5);
}

.headerContent {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.headerButton {
  background-color: #395D33;
  color: white;
  text-shadow: 1px 1px 1px #000;
  margin-top: 25px;
  padding: 15px;
  border-radius: 50px;

}
